.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds
/Data
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Documento/Desplazamiento_aspersion.docx
Documento/Desplazamiento_aspersion.pdf
Documento/Desplazamiento_aspersion.qmd
Documento/ESTATUTOS SOCIALES CANACO SAS (1).pdf
